.dialog{
    padding: 10px 0 50px;
}
.box{
    width:350px;
    overflow: hidden;
    height:250px;
   
}
.scroller{
   max-height:260px;
   width:100%;
   overflow-y: scroll;
   padding-left: 15px;
}
.row{
    min-height:35px;
    width:100%;
    font-size: 13px;
    margin-bottom: 5px;
    .layui-form-select{
        width: auto;
        text-align: left;
        .layui-select-title{
            width: 100%;
            .layui-input{
                height:35px;
                line-height:35px;
            }
        }
    }
    &>div{
        text-align: left;
        display: inline-block;
    }
    .addSelect{
        width: 4rem;
        border: 1px solid #e5e5e5;
    }
    .addPP{
        width: 130px;
        height: 34px;
        line-height: 34px;
        text-align: left;
    }
    .col{
        float:left;
        height: 34px;
        line-height: 34px;
    }
    .calculate-col{
        width: auto;
        .layui-input{
            width: 90px;
            height: 34px;
            display: inline-block;
            margin-right: 6px;
            padding-left: 5px;
        }
        span{
            padding: 5px 8px;
            background: #1e9fff;
            color: #fff;
            border-radius: 3px;
            margin-left: 15px;
            font-size: 12px;
        }
    }
    &>div{
        width:80px;
        line-height:22px;
        text-align: right;
    }
    input{
        vertical-align: middle;
        width:220px;
        height:20px;
    }
    select{
         vertical-align: middle;
        height:25px;
        width:220px;
    }
    &::after{
        clear:both;
    }
}
.buttons{
    position:absolute;
    bottom:30px;
    right:20px;
    display: flex;
    float:right;
    margin-top:20px;
    .button-0{
        width:70px;
        height:30px;
        border:1px solid #333;
        border-radius:3px;
        text-align: center;
        line-height:30px;
        box-sizing: border-box;
        margin-right:50px;
    }
    .button-1{
        cursor:pointer;
        width:70px;
        height:30px;
        text-align: center;
        line-height:30px;
        border-radius:3px;
        border:1px solid #333;
        box-sizing: border-box;
        margin-right:20px;
    }
    .button-2{
        cursor:pointer;
        color:#fff;
        width:70px;
        height:30px;
        text-align: center;
        line-height:30px;
        border-radius:3px;
        background:#007BC4;
    }
}
.icon-add{
    width:30px;
    position:absolute;
    bottom:30px;
    left:20px;
}
